.AboutTitleLg {
  position: absolute;
  top: 20%;
  font-size: 100px;
  color: white;
}
.aboutContentContainer {
  background-color: transparent;
  height: 100%;
  width: 80%;
  margin: auto;
  margin-top: 50px;
  display: flex;
}
.aboutImageContainer {
  width: 50%;
}
.aboutImage {
  width: 100%;
  height: 100%;
}
.aboutContent {
  width: 50%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.whoWeAre {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
}
.whoWeAreDes {
  padding: 30px;
  font-size: 1.5rem;
  text-align: center;
}
.ourTeamTitle {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  padding: 50px 0;
}
.aboutSliderContainer {
  margin-top: 50px;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.sliderImg {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}
.sliderName {
  font-size: 2rem;
  padding: 10px;
}
.sliderDes {
  font-size: 1.2rem;
  padding: 10px;
}
.sliderBtn {
  border: none;
  background-color: transparent;
  font-size: 1rem;
  border: 1px solid black;
  padding: 7px 15px;
  border-radius: 10px;
}
/* hire Us Css */
.formContainer {
  width: 100%;
}
.form {
  width: 50%;
  margin: auto;
}
.wantToHireUsTitle {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  padding: 50px 0;
}
.aboutInput {
  border: none;
  display: block;
  outline: none;
  width: 100%;
  padding: 15px 30px;
  font-size: 1.2rem;
  border: 1px solid black;
  border-radius: 10px;
  margin-bottom: 20px;
}
.submitBtn {
  border: none;
  background-color: black;
  font-size: 1rem;
  color: white;
  border: 1px solid black;
  padding: 7px 15px;
  border-radius: 10px;
  cursor: pointer;
}
.submitBtn:hover {
  background-color: white;
  color: black;
  transition: 0.5s;
}
@media screen and (max-width: 1200px) {
  .aboutContentContainer {
    width: 95%;
  }
}
@media screen and (max-width: 1000px) {
  .whoWeAre {
    font-size: 2rem;
  }
  .whoWeAreDes {
    font-size: 1rem;
  }
}
@media screen and (max-width: 750px) {
  .aboutContentContainer {
    flex-direction: column-reverse;
  }
  .aboutImageContainer {
    width: 100%;
  }
  .aboutContent {
    width: 100%;
    padding: 50px 0;
  }
  .form {
    width: 100%;
  }
}
